*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.mainNav {
    position: fixed;
    display: flex;
    padding-left: 1rem;
    background-color: #222831;
    width: 100%;
    height: 2rem;
    align-items: center;
    
}

.mainNav a {
    padding-left: 2rem;
    animation-duration: 5s;
    animation-name: slidein;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #00ADB5;
}
#hmburger {
    color: #00ADB5;
    display: none;
}
#menu {
    display: none;
}


.mainNav a:hover{
    color: #EEEEEE;

}

.myNameAndLogo {
    display: flex;
    flex-direction:row-reverse;
    position: fixed;
    right: 20px;
    top: 4px;
    align-items: center;
}

.logo {
    height: 1.5rem;
    width: 1.5rem;
    background-color: #fff;
    border-radius: 20%;
    margin-left: 1rem;
}
.myName {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #00ADB5 ;
    float: left;
    text-align: center;
}
.content {
    width: 100vw;
    text-align: center;
    height: 220px;
    background-color: #393E46;
    padding-top: 70px;

}
.content H1{
    padding-right: 30px;
    color: #EEEEEE;
    text-shadow: 1px 1px 2px #00ADB5, 0 0 1em #393E46, 0 0 0.2em #00ADB5;
    
}
.content p{
    margin: 0 auto;
    margin-top: 10px;
    width: 48%;
    font-size: 18px;
    line-height: 1.2;
    color:white;
    text-shadow: 1px 1px 2px #222831, 0 0 1em #222831, 0 0 0.2em #222831;
}
.myTechnologies {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0px 3px 6px #00000029;

}

.myTechnologies img {
    width: 75px;
}
.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 3px 6px #00000029;
    padding-bottom: 2rem;
    padding-top: 30px;
    
}

.aboutMe p {
    text-align: center;
    margin: 0 auto;
    width: 70vw;
    font-size: 12pt;
    line-height: 1.5;
    color:#222831;
}

.btnResume {
    background-color: #00ADB5;
    color: #EEEEEE;
    height: 2.5rem;
    border: none;
    padding: 12px;
    cursor: pointer;
    font-size: 12pt;
    font-weight: bold;
    border-radius: 25px;
    margin-top: 1rem;
}

.btnResume:hover {
    color: #222831;
}

#Projects {
    text-align: center;
    padding-top: 30px;
}
#Projects>h2 {
    color: #00ADB5;
    margin-bottom: 10px;
    font-size: 24pt;
    text-decoration: underline;
}
#Projects>p {
    font-size: 20pt;
}

.projectsImg {
    width: 25vw;
    height: 50%;
    border: none;
    border-radius: 1rem 1rem 0rem 0rem;
    
}

.SelectedProjects {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 40px;
}

.projectsPage {
    box-shadow: 1rem 1rem 1rem #00000040;
    background-color: #393E46;
    border-radius: 1rem 1rem 1rem 1rem;
    width: 25vw;
    height: 480px;
}

.projectsPage h3{
    text-align: center;
    font-size: 20pt;
    color:#00ADB5;
    padding: 1rem 1rem 0rem 1rem;
    
}

.projectsPage p {
    color: #EEEEEE;
    text-align: center;
    line-height: 1.5;
    padding: 1rem;
}

.projectsPage form {
    text-align: center;
}

.projectsPageBtn {
    background-color: #00ADB5;
        color: #EEEEEE;
        height: 2.5rem;
        border: none;
        padding: 12px;
        cursor: pointer;
        font-size: 12pt;
        font-weight: bold;
        border-radius: 25px;
        margin-top: 1rem;
}

.miniIcon {
    width: 2rem;
    border-radius: 50%;
}

.miniIcon2 {
    text-align: center;
} 

.contactMe {
    display: flex;
    width: 100vw;
    height: 80%;
    background-color: #393E46;
    margin-top: 50px;
    padding-bottom: 20px;
}
.contactMe>div {
    width: 80vw;
    margin: 0 auto;
}
.contactMe>div>img{
    width: 40%;
    padding-left: 80px;
}
.form {
    float:right;
    padding-right: 15%;
    padding-top: 4%;
    color: #EEEEEE;
}
.btnSubmit{
    background-color: #00ADB5;
    color: #EEEEEE;
    height: 25px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    font-size: 10pt;
    font-weight: bold;
    border-radius: 25px;
    margin-top: 1rem;
}
footer>div {
    display: flex;
    width: 100vw;
    height: 120px; ;
    background-color:#00ADB5;
    justify-content: space-evenly;
    align-items: center;   
}
footer>div>div {
    color: #222831; 
    text-align:center;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.allRightReserved {
    width: 100vw;
    height: 20px;
    background-color: #222831;
    border-bottom: 3px solid #00ADB5;
}
.footerName {
    margin-right: 80vw;
    padding-left: 10px;

}
.allRightReserved>p {
    color: #00ADB5;
}






@media (max-width: 760px) {

.content p {
    width: 90%;
    margin-bottom: 1em;
}
#menu {
    display: none;
    
}
#hmburger {
    display: block;
}
nav {
    display: flex;
    flex-direction: column;
    margin-top: 9.5rem;
    
    
}
a[title="Contact"] {
    padding-bottom: 10px;
    
}
nav a {
    background-color:#222831;
    width: 100vw;
    padding-top: 5px;    
    margin-left: -30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #00ADB5;
}
input[type="checkbox"]:checked ~ .navLinks {
    display: block;
}
.navLinks {
    display: none;

}
.myTechnologies img{
    width: 28px;
    height: 28px;
}
.aboutMe img {
    width: 30%;
    border-radius: 50%;
}
.projectsImg {
    width: 80vw;
    border: none;
    border-radius: 1rem 1rem 0rem 0rem;
}
.projectsPage {
    box-shadow: 1rem 1rem 1rem #00000040;
    background-color: #393E46;
    border-radius: 1rem 1rem 1rem 1rem;
    width: 80vw;
    height: 480px;
}
.content H1 {
    margin-top: -10px;
}
.contactMe>div>img {
    width: 80%;
}
.form {
    width: 80vw;
}
footer>div {
    flex-wrap: wrap;
}
footer>div>div>img {
    width: 20px;
    height: 20px;
}
footer>div>div>p {
    font-size: x-small;
}
.footerName {
    margin-right: 10%;
}

}