* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainNav {
  position: fixed;
  display: flex;
  padding-left: 1rem;
  background-color: #222831;
  width: 100%;
  height: 2rem;
  align-items: center;
}

.mainNav a {
  padding-left: 2rem;
  animation-duration: 5s;
  animation-name: slidein;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #00ADB5;
}

#hmburger {
  color: #00ADB5;
  display: none;
}

#menu {
  display: none;
}

.mainNav a:hover {
  color: #EEEEEE;
}

.myNameAndLogo {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  right: 20px;
  top: 4px;
  align-items: center;
}

.logo {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #fff;
  border-radius: 20%;
  margin-left: 1rem;
}

.myName {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #00ADB5;
  float: left;
  text-align: center;
}

.content {
  width: 100vw;
  height: 30vh;
  text-align: center;
  background-color: #393E46;
  padding-top: 70px;
  
}

.content H1 {
  color: #EEEEEE;
  text-shadow: 1px 1px 2px #00ADB5, 0 0 1em #393E46, 0 0 0.2em #00ADB5;
  
}

.content p {
  margin: 0 auto;
  margin-top: 10px;
  width: 48%;
  font-size: 18px;
  line-height: 1.2;
  color: white;
  text-shadow: 1px 1px 2px #222831, 0 0 1em #222831, 0 0 0.2em #222831;
}
.btnProject {
  background-color: #00ADB5;
    color: #EEEEEE;
    height: 25px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    font-size: 10pt;
    font-weight: bold;
    border-radius: 25px;
    margin-top: 1rem;
}
.btnSeeProject {
  margin-left: 80px;
  padding-left: 35px;
  padding-right: 35px;
}
.downloadProject>a {
  text-decoration: none;
  color: #EEEEEE;
}

.myTechnologies {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}

.myTechnologies>img {
  width: 50px;
}



.projectImg {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 20px;
}
.projectImg>img {
  width: 80%;
}

.btnResume:hover {
  color: #222831;
}

.copyright {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 20px;
  background-color: #222831;
  border-bottom: 3px solid #00ADB5;
}

.footerName {
  position: fixed;
  left: 20px;
  bottom: 0;
}
.allRightReserved {
  position: fixed;
  right: 20px;
  bottom: 0;
}

.copyright>p {
  color: #00ADB5;
}

@media (max-width: 760px) {


  .content {
    width: 100vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }

  .content p, h1 {
    width: 80vw;
    justify-content: center;
    align-items: center;
    
    
  }
  .btnProject {
  margin: 10px auto;
  }

  #menu {
    display: none;

  }

  #hmburger {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: column;
    margin-top: 9.5rem;
  }

  a[title="Contact"] {
    padding-bottom: 10px;
  }

  nav a {
    background-color: #222831;
    width: 100vw;
    padding-top: 5px;
    margin-left: -30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #00ADB5;
  }

  input[type="checkbox"]:checked~.navLinks {
    display: block;
  }


  .navLinks {
    display: none;
  }

  .myTechnologies img {
    width: 28px;
    height: 28px;
  }

.projectImg>img {
  width: 90%;
}
  .footerName {
      margin-right: 12%;
  }
  .copyright {
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    
  }
}
